<p id="notice"><%= notice %></p>

<h1>Maps</h1>

<table>
  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.name %></td>
        <td><%= link_to '移動する', battle_fileds_index_path, map_id: map.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="logout">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
</div>
